* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #111;
  position: relative;
  overflow: hidden;
}

body i {
  position: absolute;
  height: 200px;
  animation: animate 5s linear infinite;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

body i:nth-child(4n + 1) {
  background: linear-gradient(#fff, #f2f);
}

body i:nth-child(4n + 2) {
  background: linear-gradient(#fff, #0ff);
}

body i:nth-child(4n + 3) {
  background: linear-gradient(#fff, #0f0);
}

body i:nth-child(4n + 4) {
  background: linear-gradient(#fff, #f00);
}

@keyframes animate {
  0% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(calc(100vh + 200px));
  }
}
